templates/
old-outputs/
__pycache__/
.pytest_cache/
.coverage
kiabom-cov/
.ruff_cache
kiabom_cache/
src/test-project1.csv
src/test-project1.xml
_build/

# PyInstaller
build/
dist/
*.spec

# Private API keys
src/config.yaml

# Config file
# if project philosphy changes may be needed in the future
pyproject.toml
