colorama == 0.4.6
currency-symbols == 2.0.4
git+https://github.com/hurricaneJoef/digikey-api/ # DigiKey API v4
kicad-netlist-reader == 7.0.1
mouser == 0.1.6
openpyxl == 3.1.5
pyOpenSSL == 26.0.0 # for DigiKey API dependency
pyyaml == 6.0.2
requests == 2.33.0
setuptools == 82.0.1 # for DigiKey API dependency
six == 1.17.0 # for DigiKey API dependency

